USE [sushifukusuke]
GO
/****** Object:  User [root]    Script Date: 2017-07-03 18:07:42 ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_accessadmin', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_securityadmin', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_backupoperator', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_denydatareader', @membername = N'root'
GO
sys.sp_addrolemember @rolename = N'db_denydatawriter', @membername = N'root'
GO
/****** Object:  Schema [m2ss]    Script Date: 2017-07-03 18:07:42 ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(7,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[rut] [nvarchar](12) NOT NULL,
	[direccion] [nvarchar](100) NOT NULL,
	[comuna] [nvarchar](50) NOT NULL,
	[provincia] [nvarchar](80) NOT NULL,
	[region] [nvarchar](100) NOT NULL,
	[fecha_nacimiento] [nvarchar](15) NOT NULL,
	[sexo] [nvarchar](10) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](12) NOT NULL,
	[contrasena] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_clientes_id_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[optiongroups]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[optiongroups](
	[OptionGroupID] [int] IDENTITY(4,1) NOT NULL,
	[OptionGroupName] [varchar](50) NULL,
 CONSTRAINT [PK_optiongroups_OptionGroupID] PRIMARY KEY CLUSTERED 
(
	[OptionGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[options]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[options](
	[OptionID] [int] IDENTITY(9,1) NOT NULL,
	[OptionGroupID] [int] NULL,
	[OptionName] [varchar](50) NULL,
 CONSTRAINT [PK_options_OptionID] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orderdetails](
	[DetailID] [int] IDENTITY(17,1) NOT NULL,
	[DetailOrderID] [int] NOT NULL,
	[DetailProductID] [int] NOT NULL,
	[DetailName] [varchar](250) NULL,
	[DetailPrice] [real] NULL,
	[DetailSKU] [varchar](50) NULL,
	[DetailQuantity] [int] NOT NULL,
 CONSTRAINT [PK_orderdetails_DetailID] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[OrderID] [int] IDENTITY(16,1) NOT NULL,
	[OrderUserID] [int] NULL,
	[OrderAmount] [int] NOT NULL,
	[OrderShipName] [varchar](100) NULL,
	[OrderShipAddress] [varchar](100) NOT NULL,
	[OrderShipAddress2] [varchar](100) NULL,
	[OrderCity] [varchar](50) NULL,
	[OrderState] [varchar](50) NULL,
	[OrderZip] [varchar](20) NULL,
	[OrderCountry] [varchar](50) NULL,
	[OrderPhone] [varchar](20) NOT NULL,
	[OrderFax] [varchar](20) NULL,
	[OrderShipping] [real] NULL,
	[OrderTax] [real] NULL,
	[OrderEmail] [varchar](100) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderShipped] [smallint] NOT NULL,
	[OrderTrackingNumber] [varchar](80) NULL,
	[orderIDCliente] [int] NULL,
 CONSTRAINT [PK_orders_OrderID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productcategories]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[productcategories](
	[CategoryID] [int] IDENTITY(7,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_productcategories_CategoryID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productoptions]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productoptions](
	[ProductOptionID] [bigint] IDENTITY(9,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[OptionID] [bigint] NULL,
	[OptionPriceIncrement] [float] NULL,
	[OptionGroupID] [int] NULL,
 CONSTRAINT [PK_productoptions_ProductOptionID] PRIMARY KEY CLUSTERED 
(
	[ProductOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[ProductID] [int] IDENTITY(1020,1) NOT NULL,
	[ProductSKU] [varchar](50) NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductPrice] [int] NOT NULL,
	[ProductWeight] [int] NULL,
	[ProductCartDesc] [varchar](250) NULL,
	[ProductShortDesc] [varchar](1000) NULL,
	[ProductLongDesc] [varchar](max) NOT NULL,
	[ProductThumb] [varchar](100) NULL,
	[ProductImage] [varchar](255) NULL,
	[ProductCategoryID] [int] NULL,
	[ProductUpdateDate] [datetime] NOT NULL,
	[ProductStock] [int] NULL,
	[ProductLive] [smallint] NULL,
	[ProductUnlimited] [smallint] NULL,
	[ProductLocation] [varchar](250) NULL,
	[imageBlob] [varbinary](max) NULL,
 CONSTRAINT [PK_products_ProductID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 2017-07-03 18:07:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[UserID] [int] IDENTITY(11,1) NOT NULL,
	[UserEmail] [varchar](500) NULL,
	[UserPassword] [varchar](500) NULL,
	[UserFirstName] [varchar](50) NULL,
	[UserLastName] [varchar](50) NULL,
	[UserCity] [varchar](90) NULL,
	[UserState] [varchar](20) NULL,
	[UserZip] [varchar](12) NULL,
	[UserEmailVerified] [smallint] NULL,
	[UserRegistrationDate] [datetime] NULL,
	[UserVerificationCode] [varchar](20) NULL,
	[UserIP] [varchar](50) NULL,
	[UserPhone] [varchar](20) NULL,
	[UserFax] [varchar](20) NULL,
	[UserCountry] [varchar](20) NULL,
	[UserAddress] [varchar](100) NULL,
	[UserAddress2] [varchar](50) NULL,
 CONSTRAINT [PK_users_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre], [rut], [direccion], [comuna], [provincia], [region], [fecha_nacimiento], [sexo], [correo], [telefono], [contrasena]) VALUES (6, N'Mauricio Atenas', N'181202092', N'Estepa Alta 05704', N'Lo Prado', N'Provincia de Melipilla', N'Region Metropolitana de Santiago', N'1992-05-15', N'hombre', N'maurojaf@gmail.com', N'961914768', N'mauro1992')
SET IDENTITY_INSERT [dbo].[clientes] OFF
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([DetailID], [DetailOrderID], [DetailProductID], [DetailName], [DetailPrice], [DetailSKU], [DetailQuantity]) VALUES (1, 3, 1010, NULL, NULL, NULL, 1)
INSERT [dbo].[orderdetails] ([DetailID], [DetailOrderID], [DetailProductID], [DetailName], [DetailPrice], [DetailSKU], [DetailQuantity]) VALUES (2, 4, 997, NULL, NULL, NULL, 1)
INSERT [dbo].[orderdetails] ([DetailID], [DetailOrderID], [DetailProductID], [DetailName], [DetailPrice], [DetailSKU], [DetailQuantity]) VALUES (3, 5, 992, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([OrderID], [OrderUserID], [OrderAmount], [OrderShipName], [OrderShipAddress], [OrderShipAddress2], [OrderCity], [OrderState], [OrderZip], [OrderCountry], [OrderPhone], [OrderFax], [OrderShipping], [OrderTax], [OrderEmail], [OrderDate], [OrderShipped], [OrderTrackingNumber], [orderIDCliente]) VALUES (3, NULL, 1029, NULL, N'Estepa Alta 05704', NULL, NULL, NULL, NULL, NULL, N'961914768', NULL, NULL, NULL, N'maurojaf@gmail.com', CAST(0x0000A7A0000641F4 AS DateTime), 0, NULL, 0)
INSERT [dbo].[orders] ([OrderID], [OrderUserID], [OrderAmount], [OrderShipName], [OrderShipAddress], [OrderShipAddress2], [OrderCity], [OrderState], [OrderZip], [OrderCountry], [OrderPhone], [OrderFax], [OrderShipping], [OrderTax], [OrderEmail], [OrderDate], [OrderShipped], [OrderTrackingNumber], [orderIDCliente]) VALUES (4, NULL, 8500, NULL, N'Estepa Alta 05704', NULL, NULL, NULL, NULL, NULL, N'961914768', NULL, NULL, NULL, N'maurojaf@gmail.com', CAST(0x0000A7A0000705A8 AS DateTime), 0, NULL, 0)
INSERT [dbo].[orders] ([OrderID], [OrderUserID], [OrderAmount], [OrderShipName], [OrderShipAddress], [OrderShipAddress2], [OrderCity], [OrderState], [OrderZip], [OrderCountry], [OrderPhone], [OrderFax], [OrderShipping], [OrderTax], [OrderEmail], [OrderDate], [OrderShipped], [OrderTrackingNumber], [orderIDCliente]) VALUES (5, NULL, 20000, NULL, N'Estepa Alta 05704', NULL, NULL, NULL, NULL, NULL, N'961914768', NULL, NULL, NULL, N'maurojaf@gmail.com', CAST(0x0000A7A000AA175C AS DateTime), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([UserID], [UserEmail], [UserPassword], [UserFirstName], [UserLastName], [UserCity], [UserState], [UserZip], [UserEmailVerified], [UserRegistrationDate], [UserVerificationCode], [UserIP], [UserPhone], [UserFax], [UserCountry], [UserAddress], [UserAddress2]) VALUES (1, N'maurojaf1992@gmail.com', N'bleh', N'Juan', N'Perez', N'Santiago', N'Maipu', NULL, 0, CAST(0x0000A79700BC6F10 AS DateTime), NULL, NULL, N'961914768', NULL, NULL, N'EstepaBleh', NULL)
INSERT [dbo].[users] ([UserID], [UserEmail], [UserPassword], [UserFirstName], [UserLastName], [UserCity], [UserState], [UserZip], [UserEmailVerified], [UserRegistrationDate], [UserVerificationCode], [UserIP], [UserPhone], [UserFax], [UserCountry], [UserAddress], [UserAddress2]) VALUES (2, N'maurojaf@gmail.com', N'mauro1992', N'Mauricio', N'Atenas', NULL, NULL, NULL, 1, CAST(0x0000A79800FF2850 AS DateTime), NULL, NULL, N'961914768', NULL, NULL, N'Estepa Alta 05704', NULL)
INSERT [dbo].[users] ([UserID], [UserEmail], [UserPassword], [UserFirstName], [UserLastName], [UserCity], [UserState], [UserZip], [UserEmailVerified], [UserRegistrationDate], [UserVerificationCode], [UserIP], [UserPhone], [UserFax], [UserCountry], [UserAddress], [UserAddress2]) VALUES (7, N'joako.gallardo@hotmail.com', N'bleh', N'joaquin', N'gallardo', NULL, NULL, NULL, 0, CAST(0x0000A79B0133AE68 AS DateTime), NULL, NULL, N'1234567', NULL, NULL, N'san joaqin', NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[optiongroups] ADD  DEFAULT (NULL) FOR [OptionGroupName]
GO
ALTER TABLE [dbo].[options] ADD  DEFAULT (NULL) FOR [OptionGroupID]
GO
ALTER TABLE [dbo].[options] ADD  DEFAULT (NULL) FOR [OptionName]
GO
ALTER TABLE [dbo].[orderdetails] ADD  DEFAULT (NULL) FOR [DetailName]
GO
ALTER TABLE [dbo].[orderdetails] ADD  DEFAULT (NULL) FOR [DetailPrice]
GO
ALTER TABLE [dbo].[orderdetails] ADD  DEFAULT (NULL) FOR [DetailSKU]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderUserID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderShipName]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderShipAddress2]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderCity]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderState]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderZip]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderCountry]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderFax]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderShipping]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderTax]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [OrderShipped]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [OrderTrackingNumber]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (NULL) FOR [orderIDCliente]
GO
ALTER TABLE [dbo].[productoptions] ADD  DEFAULT (NULL) FOR [ProductID]
GO
ALTER TABLE [dbo].[productoptions] ADD  DEFAULT (NULL) FOR [OptionID]
GO
ALTER TABLE [dbo].[productoptions] ADD  DEFAULT (NULL) FOR [OptionPriceIncrement]
GO
ALTER TABLE [dbo].[productoptions] ADD  DEFAULT (NULL) FOR [OptionGroupID]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductSKU]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductWeight]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductCartDesc]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductShortDesc]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductThumb]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductImage]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductCategoryID]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [ProductUpdateDate]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductStock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [ProductLive]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [ProductUnlimited]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (NULL) FOR [ProductLocation]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserEmail]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserPassword]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserFirstName]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserLastName]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserCity]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserState]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserZip]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [UserEmailVerified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [UserRegistrationDate]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserVerificationCode]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserIP]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserPhone]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserFax]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserCountry]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserAddress]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [UserAddress2]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.clientes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'clientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.optiongroups' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'optiongroups'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.options' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'options'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.orderdetails' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'orderdetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.orders' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'orders'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.productcategories' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'productcategories'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.productoptions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'productoptions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.products' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'products'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sushifukusuke.users' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users'
GO
