<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>servlets.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItem</servlet-name>
        <servlet-class>servlets.DeleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>servlets.administracion.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProductoServlet</servlet-name>
        <servlet-class>servlets.administracion.EditarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>servlets.administracion.ProductosServlet</servlet-class>
    </servlet>
    <!--*************************************************************************-->
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/agregarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItem</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/servlets.administracion/agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProductoServlet</servlet-name>
        <url-pattern>/servlets.administracion/editar</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/servlets.administracion/productos</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
